<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="container">
        <nav>
            {% if current_user.permissao < 2 %}

            <a href="/home">Criar Solicitação</a>
            <a href="/feed">Minhas Solicitações</a>

            {% else %}
            
            <a href="/home">Home</a>
            <div class="dropdown">
                <span>Registros</span>
                <div class="dropdown-content">
                    <a href="/feed"><button>Minhas Solicitações</button></a>
                    <a href="/solicitacoes"><button>Todas Solicitações</button></a>
                    <a href="/transacoes"><button>Todas Transações</button></a>
                    <a href="/proprietarios"><button>Lista Proprietários</button></a>
                </div>
            </div>
            <div class="dropdown">
                <span>Estoque</span>
                <div class="dropdown-content">
                    <a href="/estoque"><button>Visualizar Estoque</button></a>
                    <a href="/adicionar_estoque"><button>Gerar Transação</button></a>
                </div>
            </div>
            <div class="dropdown">
                <span>Cadastrar</span>
                <div class="dropdown-content">
                    <a href="/ativo"><button>Novo Ativo</button></a>
                    <a href="/proprietario"><button>Novo Proprietario</button></a>
                </div>
            </div>
            <a href="/dashboard">Dashboard</a>

            {% endif %}

            <div class="dropdown">
                <span>Acessibilidade</span>
                <div class="dropdown-content">
                    <button onclick="changeSize()">Tamanho de Fonte</button>
                    <button id="btnContraste" onclick="toggleDarkMode()">Dark Mode</button>
                </div>
            </div>
            <a href="/logout">Sair</a>
        </nav>

        {% with mensagens = get_flashed_messages() %}
        {% if mensagens %}

            {% for msg in mensagens %}
            <div id="alerta">
                Alerta! {{ msg }}
            </div>
            {% endfor%}

        {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>