{% extends 'base_perfil.html' %}

{% block title %}

Cadastrar Ativo

{% endblock %}

{% block body %}

<ul>
    {% for field_errors in form.errors.values() %}
        {% for error in field_errors %}
            <li id="error">{{ error }}</li>
        {% endfor %}
    {% endfor %}
</ul>


<form method="POST">
    {{ form.csrf_token }}
    <h3>Cadastrar Novo Ativo</h3>
    
    <div class="campo">
        {{ form.nome.label }}
        {{ form.nome(placeholder="Digite o nome do produto...")}}
    </div>
    <div class="campo">
        {{ form.tipo.label }}
        {{ form.tipo }}
    </div>
    <div class="campo">
        {{ form.descricao.label }}
        {{ form.descricao(placeholder="Descrição...", rows=4) }}
    </div>
    <div class="campo">
        {{ form.data_aquisicao.label }}
        {{ form.data_aquisicao }}
    </div>
    <div class="campo">
        {{ form.data_garantia.label }}
        {{ form.data_garantia }}
    </div>
    <div class="campo">
        {{ form.quantidade_estoque.label }}
        {{ form.quantidade_estoque(placeholder="Quantidade...") }}
    </div>
    <div class="btn">
        {{ form.botao_confirmacao }}
    </div>
</form>

{% endblock %}