{% extends 'base_perfil.html' %}

{% block title %}

Cadastrar Proprietário

{% endblock %}

{% block body %}

<ul>
    {% for field_errors in form.errors.values() %}
        {% for error in field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
</ul>

<form method="POST">
    {{ form.csrf_token }}
    <h3>Cadastrar Proprietário</h3>
    
    <div class="campo">
        {{ form.nome.label }}
        {{ form.nome(placeholder="Digite o nome do produto...")}}
    </div>
    <div class="campo">
        {{ form.cpf.label }}
        {{ form.cpf(placeholder="Digite o cpf, apenas números...") }}
    </div>
    <div class="campo">
        {{ form.cargo.label }}
        {{ form.cargo(placeholder="Digite o cargo...") }}
    </div>
    <div class="campo">
        {{ form.departamento.label }}
        {{ form.departamento(placeholder="Digite o departamento...") }}
    </div>
    <div class="btn">
        {{ form.botao_confirmacao }}
    </div>
</form>

{% endblock %}