{% extends 'base_perfil.html' %}

{% block title %}

Entrys

{% endblock %}

{% block body %}

<form method="POST">
    {{ form.csrf_token }}
    <h3>Adicionar Entrada/Saída</h3>
    
    <div class="campo">
        {{ form.equipamento.label }}
        {{ form.equipamento }}
    </div>
    <div class="campo">
        {{ form.tipo.label }}
        {{ form.tipo }}
    </div>
    <div class="campo">
        {{ form.quantidade.label }}
        {{ form.quantidade(placeholder="Informe a quantia...") }}
    </div>
    <div class="btn">
        {{ form.botao_confirmacao }}
    </div>
</form>

{% endblock %}