{% extends 'base_perfil.html' %}

{% block title %}

Estoque

{% endblock %}

{% block body %}

<h2>Ativos no Estoque</h2>
<input type="text" id="input" placeholder="Filtrar">
<table border="1">
    <thead>
        <tr>
            <th>nome</th>
            <th>tipo</th>
            <th>descricao</th>
            <th>quantidade_estoque</th>
            <th>data_aquisicao</th>
            <th>data_garantia</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody id="table">
        {% for ativo in ativos %}
        <tr>
            <td>{{ativo.nome}}</td>
            <td>{{ativo.tipo}}</td>
            <td>{{ativo.descricao}}</td>
            <td>{{ativo.quantidade_estoque}}</td>
            <td>{{ativo.data_aquisicao.strftime('%d-%m-%Y')}}</td>
            <td>{{ativo.data_garantia.strftime('%d-%m-%Y')}}</td>
            <td><a href="{{ url_for('get_item', item_type='ativo', action='edit', item_id=ativo.id) }}">Editar</a> |
                <a href="{{ url_for('get_item', item_type='ativo', action='delete', item_id=ativo.id) }}">Excluir</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}