{% extends 'base_perfil.html' %}

{% block title %}

Feed

{% endblock %}

{% block body %}

    <h2>Minhas Solicitações</h2>
    <input type="text" id="input" placeholder="Filtrar">
    <table border="1" id="minhaTabela">
        <thead>
            <tr>
                <th>n_solicitacao(id)</th>
                <th>solicitante</th>
                <th>descricao</th>
                <th>data</th>
                <th>ativo</th>
                <th>quantidade</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody id="table">
            {% for solicitacao in solicitacoes %}
            <tr>
                <td>{{solicitacao.id}}</td>
                <td>{{solicitacao.usuario.nome}}</td>
                <td>{{solicitacao.descricao}}</td>
                <td>{{solicitacao.data.strftime('%d-%m-%Y')}}</td>
                <td>{{solicitacao.ativo.nome}}</td>
                <td>{{solicitacao.quantidade}}</td>
                <td>{{solicitacao.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button id="mostrarMais">Mostrar Mais</button>
{% endblock %}