{% extends 'base_perfil.html' %}

{% block title %}

Proprietários

{% endblock %}

{% block body %}

<h2>Proprietários Cadastrados</h2>
<input type="text" id="input" placeholder="Filtrar">
<table border="1" id="minhaTabela">
    <thead>
        <tr>
            <th>nome</th>
            <th>cpf</th>
            <th>cargo</th>
            <th>departamento</th>
            <th>nº transacoes</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody id="table">
        {% for proprietario in proprietarios %}
        <tr>
            <td>{{proprietario.nome}}</td>
            <td>{{proprietario.cpf}}</td>
            <td>{{proprietario.cargo}}</td>
            <td>{{proprietario.departamento}}</td>
            <td>{{proprietario.transacoes}}</td>
            <td><a href="{{ url_for('get_item', item_type='proprietario', action='edit', item_id=proprietario.id) }}">Editar</a> |
                <a href="{{ url_for('get_item', item_type='proprietario', action='delete', item_id=proprietario.id) }}">Excluir</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<button id="mostrarMais">Mostrar Mais</button>
{% endblock %}