{% extends 'base.html' %}
{% block title %}

Registrar

{% endblock %}

{% block body %}

<form method="POST">
    {{ form.csrf_token }}
    <h3>Registrar</h3>

    <div class="campo">
        {{ form.nome.label }}
        {{ form.nome(placeholder="Digite seu nome...")}}
    </div>
    <div class="campo">
        {{ form.cpf.label }}
        {{ form.cpf(placeholder="p.ex. AAABBBCCCDD") }}
    </div>
    <div class="campo">
        {{ form.email.label }}
        {{ form.email(placeholder="Digite seu email...") }}
    </div>
    <div class="campo">
        {{ form.senha.label }}
        {{ form.senha(placeholder="Digite sua senha...") }}
    </div>
    <div class="bool">
        {{ form.confirmacao_senha.label }}
        {{ form.confirmacao_senha(placeholder="Digite sua senha novamente...") }}
    </div>
    <div class="btn">
        {{ form.botao_confirmacao }}
        <a class="btn-criar" href="/">Faça Login!</a>
    </div>
</form>

{% endblock%}